[user]
	name = Neil Martinsen-Burrell
	email = neil.martinsen-burrell@gsa.gov

[core]
	excludesfile = /Users/neil/.gitignore_global
	hooksPath = /Users/neildmartinsenburrell/.git-support/hooks

[alias]
    ci = commit
    st = status
    br = branch
    co = checkout

    top = log --max-count=10 --pretty=format:'%C(yellow)%h %C(blue)%ar %C(red)%d %C(reset)%s'
    outgoing = log --pretty=oneline --abbrev-commit --graph @{u}..
    incoming = !git fetch && git log --pretty=oneline --abbrev-commit --graph ..@{u}
    unstage = reset HEAD --
    last = log -1 HEAD
    lg1 = log --graph --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
    lg2 = log --graph --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold white)— %an%C(reset)' --abbrev-commit
    lg = !"git lg1"
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    type = cat-file -t
    dump = cat-file -p
[push]
    default = current
[color]
	ui = auto
[gitseekret]
	version = 1
	rulespath = /Users/neildmartinsenburrell/.git-support/seekret-rules
	rulesenabled = aws.access_key_id,aws.account_id,aws.secret_access_key,mandrill.username,mandrill.password,mandrill.api_key,newrelic.license_key,slack.api_token,slack.webhook_url
	exceptionsfile = ""
[pull]
	rebase = false
